body { margin: 0;} 
body * {box-sizing: border-box;}

html, body {
 height:100%;
 width: 100%;
 padding:0;
 margin:0;
 scroll-behavior: smooth;
 color: white;
}

* {
    margin:0;
    padding: 0;
}

/*Global Styles Start*/

:root {
    --primary-color:rgb(255, 38, 0);
    font-family: 'Raleway', Helvetica, sans-serif;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.fa-angle-right{
    padding: 4px 9px 5px 10px ;
    margin-right: 10px;
    border: solid 2px gray;
    border-radius: 50%;
    font-size: 15px !important;
    font-weight: bolder;
    cursor: pointer;
}

.learn-more-button{
    margin: 20px 0px;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.learn-more-button :hover{
    cursor: pointer;
}
/*Global Styles End*/


/* Navbar Starts */
.navbar{
    background-color:  rgba(0, 76, 76, 0.836);
}
.links{
    display: flex;
    justify-items: flex-end;
    align-self: center;
    list-style: none; 
    padding: 0px;
    margin: 0px;
}

.links li{
    color: white;
}
/* Navbar Ends  */


/* Header Starts */

.fa-tint{
    padding: 10px 15px 6px 15px;
    margin-bottom: 15px;
    border: solid 2px gray;
    border-radius: 50%;
}

.header{
    
    background-image: linear-gradient(
        rgba(0, 76, 76, 0.836),
        rgba(0, 76, 76, 0.836)), url(https://images.pexels.com/photos/2031773/pexels-photo-2031773.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    background-attachment: fixed;
    background-position: center top 10%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 400px;
}
.header-text{
    text-align: left;
    padding: 80px 32px 68px;
    position: relative ;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.header-text h1{
    font-size: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid 2px gray;
}
.header-text h2{
    font-size: .8em;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5em;
}
/* Header Ends */


/* Content Wedge Starts */

.wedge1,
.wedge3{
    text-align: right;
    background-color: rgb(0, 128, 128);
}
.wedge2 {
    text-align: left;
    background-color: rgb(0, 102, 102);
}

.wedge-content{
    padding: 2em 1.5em;
}

.wedge-image{
    width: 190px;
    height: 190px;
    border-radius: 50%;
}
.wedges h4{
   text-transform: uppercase;
   font-weight: bold;
   border-bottom: 2px solid gray;
   padding-bottom: 1em;    
}
.wedges i{
    text-transform: uppercase;
    font-weight: bold;
}

/* Content Wedge Ends */


/* Articles Start */

.articles{
    background-color: rgb(19, 69, 110);
}

.article-header{
    padding: 2em 1.5em;
}

.article-header h2{
    text-transform: uppercase;
    border-bottom: 2px solid gray;
    padding-bottom: 1em;
    margin-bottom: 0;
    font-size: .9em;
    font-weight: 600;
    letter-spacing: 1px;
}

.article-header p{
    line-height: 20px;
    font-size: .8em;
}

.article{
    height: 450px; 
    margin: 2em 1.5em;
    border-radius: 5px;
    background-color: rgb(25, 79, 122);
}

.article-image{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.article-text{
    padding: 3% 10%;
    font-size: .8em;
    line-height: 2em;
}

.article h4{
    text-transform: uppercase;
    border-bottom: 2px solid gray;
    padding-bottom: 1em;
    margin-bottom: 0;
    font-weight: bold;    
}

.article-text p{
    margin-top: 5px;
}
.article i{
    text-transform: uppercase;
    font-weight: bold;
}

/* .more-articles-button{
    color: white;
    text-transform: uppercase;
    background-color: rgb(25, 79, 122);
    padding: 5% 10%;
    margin: .5em 1.5em 1.5em 1.5em; 
    width: 100%;
    border: 2px solid gray;
    border-radius: .3em;
    cursor: pointer;
} */
/* Articles End */


/* Contact Starts */

.contact{
    background-image: linear-gradient(
        rgba(25, 79, 122, 0.952),
        rgb(25, 79, 122, 0.952)), url(https://images.pexels.com/photos/2031773/pexels-photo-2031773.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    background-attachment: fixed;
    background-position: center top 10%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 10% 10% 0% 10%;
}

.contact-header{
    margin-bottom: 3em;  
}

.contact-header h2{
    text-transform: uppercase;
    border-bottom: 2px solid gray;
    padding-bottom: 1em;
}

.form-element{
    text-transform: uppercase;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: solid 2px gray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color:  rgba(25, 78, 122, 0.63);
    font-family: 'Raleway', Helvetica, sans-serif;
    color: white;
}

.message-button{
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    width: 100%;
    padding: 5% 10%;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.contact-list{
    margin-top: 3.5em;
}

.contact-list ul{
    list-style: none;
    text-decoration: none;
    color:white;

}

.contact-list a{
    text-decoration: none;
    color: white;
    margin-right: 1.5em;
}

.contact li{
    font-family: 'Raleway', Helvetica, sans-serif;
    list-style: none;
    margin: 5px 0px 20px 0px;
    cursor: pointer;
}


.contact-list .fa{
    padding: 4px 9px 5px 10px ;
    border: solid 2px gray;
    border-radius: 50%;
    font-size: 15px !important;
    font-weight: bold;
    cursor: default;
}

/* Contact Ends */


/* Footer Starts */
.footer {
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: gray;
    padding: 4em 0em 2em 0em;
    border-top: 2px solid gray;
  }

  .footer {
      line-height: 1;
  }

  .footer p a {
      text-decoration: none;
      color: gray;
      font-style: italic;
  }
  
  .footer p a:hover{
    color: white;
    -webkit-transition: .5s;
    transition: .5s;
  }
/* Footer Ends */


/* Media Queries */

@media (min-width: 980px) {
    .header,
    .wedges,
    .articles {
        padding: 5% 25% 5% 25%;
    }

    .contact{
        padding: 5% 25% 0% 25%;
    }


    .article {
        margin: 2em 2em;
        width: calc(50% - 4em);
        height: auto;
    }

    .contact .fa {
        font-size: 18px !important;
    }
    .flex-parent{
        display: flex;
        justify-content: space-between;
    }
    .contact-form,
    .contact-list{
        width: 50%
    }

    .contact-list{
        margin-top: 0em;
    }
    
    .contact ul{
        padding-left: 40px;
    }
    
     .form-element,
    .contact li {
        padding-top: 1em;
    }

}

@media (min-width: 769px) {
    

    .header,
    .wedges,
    .articles {
        padding: 5% 17% 5% 17%;
    }

    .contact{
        padding: 5% 17% 0% 17%;
    }


/* Global Ends */

    .header{
        height: 660px;
        font-size: 2em;
    }
    .wedge-image{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    .wedge1 .wedge-image{
        order: 1;
        margin-left: 4em;
    } 
    
    .wedge2 .wedge-image{
        margin-right: 4em;
    } 

    .wedge3 .wedge-image{
        order: 1;
        margin-left: 4em;
    }

/* Wedges End */

    .article-header{
        padding: 0px;
    }
    
    .article {
        width: calc(50% - 3em);
    }

    .article1,
    .article3{
        margin: 1em 1em 1em 1.5em;
    }

    .article2,
    .article4{
        margin: 1em 1.5em 1em 1em;
    }
/* Article Ends */

    .message-button{
        font-family: 'Raleway', Helvetica, sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        color: white;
        width: auto;
        background-color: transparent;
        padding: 3% 7%;
        border: 2px solid gray;
        border-radius: 5px;
    }

    
/* contact ends */

}


@media (min-width: 481px) {

    .article {
        width: calc(50% - 3em);
    }

    .article1,
    .article3{
        margin: 1em 1em 1em 1.5em;
    }

    .article2,
    .article4{
        margin: 1em 1.5em 1em 1em;
    }

    .articles .flex-parent{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        height: 100%;
    }
    
}
