body { margin: 0;} 
body * {box-sizing: border-box;}

html, body {
 height:100%;
 width: 100%;
 padding:0;
 margin:0;
 scroll-behavior: smooth;
 color: white;
 font-size: 62.5%;
}
* {
    margin:0;
    padding: 0;
}
:root {
    font-family: 'Raleway', Helvetica, sans-serif;
    /* line-height: 2.4rem; */
    letter-spacing: 1px;
}

/* /// Table of Contents /// */

    /* 1. Global Styles */
    /* 2. Narbar */
    /* 3. Header */
    /* 4. Content Wedge */
    /* 5. Articles */
    /* 6. Contact */
    /* 7. Footer */
    /* 8. Media Queries */


/* /// Table of Contents Ends /// */


/* Global Styles Start */

.fa-angle-right{
    margin-right: 10px;
    font-size: 15px !important;
    font-weight: bolder;
    cursor: pointer;
}

.angle-right-border{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;

    border-radius: 50%;
    border: 2px solid gray;
    padding: 4px;
}

.learn-more-button{
    margin: 30px 0px;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}

.learn-more-button :hover{
    cursor: pointer;
}

.divider{
    height: 50px;  
}

.divider1{
    background-image: 
    linear-gradient(to bottom right, 
    transparent calc(50% - 1px),
    rgb(34, 92, 139),
    rgb(34, 92, 139) calc(50% + 1px));

    position: relative;
    z-index: 99;
    transform: translate(0, 0px);
}

.divider2{
    background-image: 
    linear-gradient(to top right,
    rgb(23, 77, 121) calc(50% - 1px),
    rgb(34, 92, 139),
    rgb(34, 92, 139) calc(50% + 1px))
}

.divider3{
    background-image: 
    linear-gradient(to bottom right, 
    rgb(23, 77, 121) calc(50% - 1px), 
    rgb(19, 70, 112), 
    rgb(19, 70, 112) calc(50% + 1px))
}

.divider4{
    background-image: 
    linear-gradient(to top right, 
    rgb(19, 62, 97) calc(50% - 1px), 
    rgb(19, 70, 112), 
    rgb(19, 70, 112)calc(50% + 1px))
}

.divider5{
    background-image: 
    linear-gradient(to bottom right, 
    rgb(19, 62, 97)calc(50% - 1px), 
    rgb(19, 62, 97), 
    transparent calc(50% + 1px));

    position: relative;
    z-index: 99;
    transform: translate(0, 50px);
}

/*Global Styles End*/


/* Navbar Starts */

.navbar{
    display: flex;
    background-color: rgba(43, 139, 218, 0.176);
    position: fixed;
    width: 100%;
    padding: 1rem 1.6rem;
}

.navbar .logo{
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.3rem;
    white-space: nowrap;
}

.menu-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0rem 2rem;
   
}

/* .fa-bars{
} */

.links{
    display: none;
    justify-items: flex-end;
    list-style: none; 

    font-size: 1.3rem;
}

.links li{
    color: white;
}


/* Navbar Ends  */


/* Header Starts */

.fa-tint{
    font-size: 3rem !important;
}

.tint-border{
    width: 52px;
    height:52px;
    border: 2px solid gray;
    border-radius: 50%;
    text-align: center;
    line-height: 52px;
    padding: 9px;
    margin-bottom: 4rem;
    vertical-align: middle;
}

.header{
    background-image: linear-gradient(
        rgba(42, 139, 218, 0.795),
        rgb(13, 41, 63)), url(https://images.pexels.com/photos/2031773/pexels-photo-2031773.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    background-attachment: fixed;
    background-position: center top 10%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 400px;
}

.header-text{
    text-align: left;
    padding: 80px 32px 68px;
    position: relative ;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.header-text h1{
    font-size: 2.4rem;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 2,4rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid 2px gray;
}
.header-text h2{
    font-size: 1.28rem;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2.4rem;
}
/* Header Ends */


/* Content Wedge Starts */

.wedge1{
    text-align: right;
    background-color: rgb(34, 92, 139);
}

.wedge2 {
    text-align: left;
    background-color: rgb(23, 77, 121);
}

.wedge3{
    text-align: right;
    background-color: rgb(19, 70, 112);
}

.wedge-content{
    padding: 3.2rem 2.4rem 0rem 2.4rem;
}

.wedge-image{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin: 1.6rem 0rem;
}

.wedges h4{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: 2px solid gray;
    padding-bottom: 1.6rem;
    margin-bottom: 1.6em;    
}

.wedges p{
    font-size: 1.3rem;
    line-height: 2.2rem;
}

.wedges i{
    text-transform: uppercase;
    font-weight: bolder;
}

/* Content Wedge Ends */


/* Articles Start */

.articles{
    background-color:  rgb(19, 62, 97);
}

.article-header{
    padding: 3.2rem 2.4rem 0rem 2.4rem;
}

.article-header h2{
    text-transform: uppercase;
    border-bottom: 2px solid gray;
    padding-bottom: 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 1px;
}

.article-header p{
    line-height: 2.2rem;
    font-size: 1.3rem;
}

.article{
    height: fit-content; 
    margin: 3.2rem 2.4rem;
    border-radius: 5px;
    background-color: rgb(25, 79, 122);
}

.article-image{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.article-text{
    padding: 3% 10%;
    font-size: 1.5rem;
    line-height: 3.2rem;
}

.article h4{
    text-transform: uppercase;
    border-bottom: 2px solid gray;
    padding-bottom: 1.6rem;
    margin-bottom: 1.6rem;
    margin-bottom: 0;
    font-weight: bold;    
}

.article-text p{
    margin-top: 5px;
    font-size: 1.3rem;
    line-height: 2.2rem;
}
.article i{
    text-transform: uppercase;
    font-weight: bold;
}

.more-articles-button{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: rgb(25, 79, 122);
    padding: 5% 0%;
    margin: .8rem 2.4rem 2.4rem 2.4rem; 
    width: calc(100% - 4.8rem);
    border: 2px solid gray;
    border-radius: .48rem;
    cursor: pointer;
}

/* Articles End */


/* Contact Starts */

.contact{
    background-image: linear-gradient(
        rgba(13, 41, 63, 0.952),
        rgba(13, 41, 63, 0.952)), url(https://images.pexels.com/photos/2031773/pexels-photo-2031773.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    background-attachment: fixed;
    background-position: center top 10%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 5.4rem 2.4rem 0rem 2.4rem;
}

.contact-header{
    margin-bottom: 4.8rem;  
    font-size: 1.3rem;
    line-height: 2.2rem;
}

.contact-header h2{
    text-transform: uppercase;
    border-bottom: 2px solid gray;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-element{
    text-transform: uppercase;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 1.2rem 0rem 2.5rem 0rem;
    border: solid 2px gray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color:  rgba(13, 41, 63, 0.952);
    font-family: 'Raleway', Helvetica, sans-serif;
    color: white;
    font-size: 1.5rem;
}

label {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.message-button{
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: transparent;
    width: 100%;
    padding: 5% 10%;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5.6rem;
}

.contact-list{
    padding-bottom: 2.8rem;
}

.contact-list ul{
    list-style: none;
    text-decoration: none;
    color:white;
}

.contact-list a{
    text-decoration: none;
    color: white;
    margin-right: 2.4rem;
}

.contact li{
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: lighter;

    list-style: none;
    margin: 5px 0px 16px 0px;
    cursor: pointer;
}

.contact-list .fa{
    font-size: 15px !important;
    cursor: default;
}

.contact-fa-border{
    width: 35px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}

/* Contact Ends */


/* Footer Starts */
.footer {
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: gray;
    padding: 3.2rem 0rem 3.2rem 0rem;
    border-top: 2px solid gray;
  }

  .footer p a {
      text-decoration: none;
      color: gray;
      font-style: italic;
  }
  
  .footer p a:hover{
    color: white;
    -webkit-transition: .5s;
    transition: .5s;
  }
/* Footer Ends */


/* Media Queries */

@media (min-width: 481px){

    .wedges .flex-parent{
        display: flex;
        align-items: center;
    }

    .wedge-image{
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .wedge1 .wedge-image,
    .wedge3 .wedge-image{
        order: 1;
        margin-left: 6.4rem;
    } 
    
    .wedge2 .wedge-image{
        margin-right: 6.4rem;
    } 

/* Wedges End */

    .articles .flex-parent{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        height: 100%;
    }

    .article {
        width: calc(50% - 4rem);
        min-height: 500px;
        height: auto;
    }

    .article1,
    .article3{
        margin: 1.6rem 1.6rem 1.6rem 2.4rem;
    }

    .article2,
    .article4{
        margin: 1.6rem 2.4rem 1.6rem 1.6rem;
    }

    .more-articles-button{
        width: 100%;   
    }

/* Articles End  */
    
}
/* Fix Responsive from here and on */

@media (min-width: 769px) {

    .wedge-content,
    .article-header,
    .articles .flex-parent,
    .contact-header,
    .contact .flex-parent,
    .footer {
        width: 721px;
        margin: 0 auto;
    }
    .header-text {
        width: 769px;
    }

    .fa-angle-right{
        margin-right: 10px;
        font-size: 2.4rem !important;
        font-weight: bolder;
    }
    
    .angle-right-border{
        width: 3.2rem;
        height: 3.2rem;
        line-height: 3.2rem;
        padding: 1px 1px 1px 3px;
    }
    
    .learn-more-button{
        font-size: 1.5rem;
    }

/* Global Ends */

    .header{
        height: 660px;
    }

    .header-text h1{
        font-size: 3.4rem;
    }

    .header-text h2{
        font-size: 1.6rem;
    }

    .fa-tint{
        font-size: 6.5rem !important;
    }

    .tint-border{
        width: 90px;
        height:90px;
        line-height: 90px;
        padding: 11px;
    }

/* Header Ends */

    .article-header{
        padding: 0px;
    }

    .wedge-text h4,
    .article h4,
    .article-header h2,
    .contact h2{
        font-size: 2rem;
    }
    .article {
        width: calc(50% - 1.6rem);
        height: auto;
    }

    .article1,
    .article3{
        margin: 1.6rem 1.6rem 1.6rem 0rem;
    }

    .article2,
    .article4{
        margin: 1.6rem 0rem 1.6rem 1.6rem;
    }

    .more-articles-button{
        margin-left: 0;
        font-size: 1.6rem;
        width: 100%;
        padding: 9% 18%;
    }
        
/* Article Ends */

    .message-button{
        width: auto;
        padding: 3% 7%;
        border-radius: 5px;
    }
 
/* Contact ends */

}

@media (min-width: 980px) {

    .wedge-content,
    .article-header,
    .articles .flex-parent,
    .contact-header,
    .contact .flex-parent,
    .footer {
        min-width: 850px;
        margin: 0 auto;
    }
    .header-text {
        width: 850px;
    }

    
/* Global Ends */

    .wedge-image{
        width: 325px;
        height: 325px;
        border-radius: 50%;
    }

    .article {
        width: calc(50% - 3.2rem);
        height: auto;
    }

    .article1,
    .article3{
        margin: 3.2rem 3.2rem 3.2rem 0rem;
    }

    .article2,
    .article4{
        margin: 3.2rem 0rem 3.2rem 3.2rem;
    }

/* Article Ends */

    .contact .fa {
        font-size: 18px !important;
    }
     .contact .flex-parent{
        display: flex;
        justify-content: space-between;
    }

    .contact-form,
    .contact-list{
        width: 50%
    }

    .contact-list{
        margin-top: 0rem;
    }
    
    .contact ul{
        padding-left: 6rem;
    }
    
     .form-element,
    .contact li {
        padding-top: 1.6rem;
    }

/* Contact Ends */

}

@media (min-width: 1680px) {


    .wedge-content,
    .article-header,
    .articles .flex-parent,
    .contact-header,
    .contact .flex-parent,
    .footer {
        min-width: 1210px;
        margin: 0 auto;
    }
    .header-text {
        width: 1210px;
    }


    .fa-angle-right{
        margin-right: 10px;
        font-size: 2.08rem !important;
    }
    
    .angle-right-border{
        width: 3.04rem;
        height: 3.04rem;
        line-height: 3.04rem;
        padding: 3px 1px 2px 3px;
    }
    
    .learn-more-button{
        font-size: 1.76rem;
    }


    .wedge-text h4,
    .article h4,
    .article-header h2,
    .contact h2{
        font-size: 2.7rem
    }

    .header-text h1{
        font-size: 3.2rem;
    }

    .header-text h2{
        font-size: 1.76rem;
    }

    .wedges p,
    .articles p,
    .contact-header p,
    .contact-list p{
        font-size: 1.8rem;
    }

}
